<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.runtime.remoting>
        <application>
            <client displayName="remoteNotesLib" url="http://localhost:13000">
                <wellknown type="remoteNotesLib.NotesSingleton, remoteNotesLib" 
                           url="http://localhost:13000/NotesSingleton.soap" />
                <wellknown type="remoteNotesLib.NotesTransactionSinglecall, remoteNotesLib" 
                           url="ipc://NotesIpcChannel/NotesTransactionSinglecall.soap" />
                <activated type="remoteNotesLib.NotesClientActivated, remoteNotesLib" />
            </client>
            <channels>
                <channel ref="http">
                    <clientProviders>
                        <formatter ref="binary" typeFilterLevel="Full" />
                    </clientProviders>
                </channel>
            </channels>
        </application>
    </system.runtime.remoting>
</configuration>
