<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.runtime.remoting>
        <application>
            <client url="http://localhost:13101">
                <wellknown mode="Singleton" type="remoteNotesLib.NotesSingleton, remoteNotesLib" url="http://localhost:13101/NotesSingleton.rem" />
                <wellknown mode="SingleCall" type="remoteNotesLib.NotesTransactionSinglecall, remoteNotesLib" url="http://localhost:13101/NoteTransactionSinglecall.rem" />
                <activated type="remoteNotesLib.NotesClientActivated, remoteNotesLib" />
            </client>
            <channels>
                <channel port="13102" ref="http">
                    <clientProviders>
                        <formatter ref="binary" />
                    </clientProviders>
                    <serverProviders>
                        <formatter ref="binary" />
                    </serverProviders>
                </channel>
            </channels>
        </application>
    </system.runtime.remoting>
</configuration>
