<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.runtime.remoting>
        <application>
            <service>
                <wellknown mode="Singleton" 
                           type="remoteNotesLib.NotesSingleton, remoteNotesLib" 
                           objectUri="NotesSingleton.rem" />
                <wellknown mode="SingleCall" 
                           type="remoteNotesLib.NotesTransactionSinglecall, remoteNotesLib" 
                           objectUri="NotesTransactionSinglecall.rem" />
                <activated type="remoteNotesLib.NotesClientActivated, remoteNotesLib" />
            </service>
            <channels>
                <channel ref="http" port="13000">
                    <serverProviders>
                        <formatter ref="binary" typeFilterLevel="Full" />
                    </serverProviders>
                    <clientProviders>
                        <formatter ref="binary" typeFilterLevel="Full" />
                    </clientProviders>
                </channel>
                <channel ref="ipc" portName="NotesIpcChannel">
                    <clientProviders>
                        <formatter ref="binary" typeFilterLevel="Full" />
                    </clientProviders>
                    <serverProviders>
                        <formatter ref="binary" typeFilterLevel="Full" />
                    </serverProviders>
                </channel>
            </channels>
        </application>
    </system.runtime.remoting>
</configuration>
