<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.runtime.remoting>
        <application>
            <service>
                <wellknown mode="Singleton" type="remoteNotesLib.NotesSingleton, remoteNotesLib" objectUri="NotesSingleton.rem" />
                <wellknown mode="SingleCall" type="remoteNotesLib.NotesTransactionSinglecall, remoteNotesLib" objectUri="NotesTransactionSinglecall.rem" />
                <activated type="remoteNotesLib.NotesClientActivated, remoteNotesLib" />
            </service>
            <channels>
                <channel port="13000" ref="http">
                    <clientProviders>
                        <formatter ref="binary" typeFilterLevel="Full" />
                    </clientProviders>
                    <serverProviders>
                        <formatter ref="binary" typeFilterLevel="Full" />
                    </serverProviders>
                </channel>
                <channel ref="ipc" name="Server" portName="ServerIPC">
                    <clientProviders>
                        <formatter ref="binary" />
                    </clientProviders>
                    <serverProviders>
                        <formatter ref="binary" typeFilterLevel="Full" />
                    </serverProviders>
                </channel>
            </channels>
        </application>
    </system.runtime.remoting>
</configuration>
